# Node & Frontend dependencies
node_modules/
/HT QL Kho/FE/node_modules/
/HT QL Kho/FE/dist/
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Laravel & Backend dependencies
vendor/
/HT QL Kho/BE/vendor/
/HT QL Kho/BE/storage/*.key
/HT QL Kho/BE/storage/framework/cache/data/*
/HT QL Kho/BE/storage/framework/sessions/*
/HT QL Kho/BE/storage/framework/testing/*
/HT QL Kho/BE/storage/framework/views/*
/HT QL Kho/BE/storage/logs/*.log
/HT QL Kho/BE/bootstrap/cache/*.php

# Environment files
.env
/HT QL Kho/BE/.env
!.env.example
!.env.docker
!/HT QL Kho/BE/.env.docker

# OS & IDE Junk
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
